{% extends "layout.html" %}

{% block title %}
    C$50 Finance: Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="POST">
        <div class="mb-3">
            <input type="text" name="symbol" autocomplete="off" autofocus class="form-control mx-auto w-auto" placeholder="Symbol">
        </div>
        <div class="mb-3">
            <input type="number" name="shares" autocomplete="off" class="form-control mx-auto w-auto" min="1" placeholder="Shares">
        </div>
        <button class="btn btn-primary"type="submit">Buy</button>
    </form>
{% endblock %}